.ZedboardButtonsContainer{
  height: 90px;
  width: 300px;
  text-align: left;
  justify-content: left;
}

#PB1:hover, #PB2:hover {
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 blue;
}

#PB1:active, #PB2:active {
  outline: auto;
  outline-color: black;
}

#PB1, #PB2{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin: 0;
  cursor:pointer;
  background-color: grey;
  border-width: 0;
}

#PB1 div, #PB2 div{
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.ZedboardButtonsContainer div div {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: white;
}

.ZedboardButtonsContainer div {
  display: inline-block;
  margin: 0px 10px;
}